.container{
    max-width: 1120px;
    margin: 0 auto;
    padding: 0 2rem;
}

.posts{
    max-width: 720px;
    margin: 5rem auto;

    a{
        display: block;

        & + a{
            margin-top: 2rem;
            padding-top: 2rem;
        }
    }

    time{
        font-size: 1rem;
        display: flex;
        align-items: center;
        color: var(--blue-navy);
    }

    img{
        max-width: 100%;
        max-height: 410px;
        border: 2px solid var(--blue-900);
        border-radius: 4px;
        border-image: linear-gradient(95deg, #1fa4e5, transparent) 1;
    }

    strong{
        display: block;
        font-size: 1.5rem;
        margin: 1rem 0;
        line-height: 2rem;
        transition: color 0.3s;
    }

    p{
        margin-top: 0.5rem;
        line-height: 1.65rem;
    }
}

.post:hover strong{
    color: var(--blue-900);
}

.buttonNavigate{
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    div{
        display: flex;
        flex-direction: row;
    }

    button{
        border: 0;
        background-color: var(--blue-900);
        color: var(--white);
        padding: 0.5rem;
        display: flex;
        border-radius: 5px;

        svg{
            padding: 0 3px;
        }
    }
}

.buttonsLeft button{
    margin-right: 10px;
}

.buttonsRight button{
    margin-left: 10px;
}